<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库链接-->
  <connectionStrings>
    <add name="SQLServerConnString" connectionString="Data Source=localhost;Database=test1;User ID=sa;Password=123456;Trusted_Connection=False"/>
    <add name="MySQLConnString" connectionString="Server=localhost;Database=test1;Uid=root;Pwd=123456;pooling=false;CharSet=utf8;port=3306;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>
